.title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.4rem;
}

.creator {
  padding: 0.4rem;
}

.vid-title {
  max-width: 90%;
  font-family: var(--card-font);
}

.video-card {
  border-radius: 1rem;
  cursor: pointer;
}

.image {
  border-radius: 1rem;
}

.fa-ellipsis-v {
  padding: 0.5rem;
  margin-left: 1rem;
}

.modal-title {
  position: relative;
}

.card-modal-main {
  border: 1px solid var(--black);
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-modal-child {
  padding: 0.4rem 1rem;
  background-color: var(--white);
  font-family: var(--card-font);
}
.main-modal-child:hover {
  background-color: var(--vr-card-bg);
}

.play-card {
  position: relative;
}

.video-number {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
